<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<link rel="stylesheet" href="{% static 'includes/bootstrap/dist/css/bootstrap.css' %}">
	<meta charset="UTF-8">
	<title>Recruiters</title>
</head>
<body>
	<div class="container">
		<h1>Recruiters</h1>
		<table class="table">
			<thead>
				<tr>
					<th>Recruiter Name</th>
					<th>Company</th>
					<th>Email Id</th>
					<th>Action</th>
				</tr>
				<tr>
					<td><input class="form-control name-input"></td>
					<td><input class="form-control company-input"></td>
					<td><input class="form-control emailid-input"></td>
					<td><button class="btn btn-primary add-recruiter">Add</button></td>
				</tr>
			</thead>
			<tbody class="recruiters-list"></tbody>
		</table>
	</div>

	<script type="text/template" class="recruiters-list-template">
	<td><span class="name"><%= name %></span></td>
	<td><span class="company"><%= company %></span></td>
	<td><span class="emailid"><%= emailid %></span></td>
	<td><button class="btn btn-warning edit-recruiter">Edit</button> <button class="btn btn-danger delete-recruiter">Delete</button><button class="btn btn-success update-recruiter" style="display:none">Update</button> <button class="btn btn-danger cancel" style="display:none">Cancel</button></td>
	</script>
	
	<script src="{% static 'includes/jquery/dist/jquery.js' %}"></script>
	<script src="{% static 'includes/underscore/underscore.js' %}"></script>
	<script src="{% static 'includes/backbone/backbone.js' %}"></script>
	<script src="{% static 'js/recruiter_scripts.js' %}"></script>
</body>
</html>
